/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#logo {
	#boombox {
		display: inline;
		margin: 0 50px;
	}
}

.wrap {
  width: 1040px;
}

.page-id-3210 .wrap {
  width: 1108px;
}